:host {
    width: 250px;
    height: 450px;
}

.todo-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.todo-card:hover {
    transform: scale(1.025);
    border: white 1px solid;
}

.actions-container {
    display: flex;
    justify-content: space-evenly;
}

.complete {
    opacity: 0.5;
}

.footer {
    margin-top: auto;
}

.content-container {
    overflow: auto;
    scrollbar-width: thin;
}